@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* ------------------------------------------
  Utility Class
------------------------------------------ */
/* clearfix */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------------------------------------------
  Common
------------------------------------------ */
* {
  box-sizing: border-box;
  word-break: break-all;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  color: #000;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  min-width: 1040px;
  position: relative;
  -webkit-text-size-adjust: none;
}

body.active {
  height: 100%;
  overflow: hidden;
}

a, a img {
  color: inherit;
  text-decoration: none;
  transition: color .3s ease, background .3s ease, opacity .3s ease;
}

a:hover {
  opacity: .75;
}

a:focus {
  outline: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: inherit;
}

ul, ol {
  list-style: none;
}

.only_pc {
  display: block !important;
}

.only_sp {
  display: none !important;
}

input, button, select, textarea {
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

input[type=checkbox], input[type=radio] {
  height: 1px;
  margin: 0;
  opacity: 0;
  position: absolute;
  width: 1px;
  z-index: -1;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

@media screen and (max-width: 767px) {
  body {
    min-width: inherit;
    padding-top: 57px;
  }

  .container {
    margin: 0 20px;
    width: auto;
  }

  .only_pc {
    display: none !important;
  }

  .only_sp {
    display: block !important;
  }
}

/* ------------------------------------------
  header
------------------------------------------ */
.header {
  align-items: center;
  background-color: #0f0f0e;
  display: flex;
  height: 90px;
  justify-content: space-between;
  left: 0;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.header_inner {
  height: 100%;
  position: relative;
  width: 100%;
}

.header_logo {
  display: block;
  left: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 327px;
}

.header_logo_link {
  display: block;
}

.header .container {
  display: flex;
  height: 100%;
  justify-content: flex-end;
}

.header_right {
  display: flex;
  height: 100%;
  justify-content: flex-end;
}

.header_right_nav {
  align-items: center;
  display: flex;
  height: 100%;
}

.header_right_nav_item {
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
}

.header_right_nav_item + .header_right_nav_item {
  margin-left: 60px;
}

.header_right_nav_item a {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: left;
}

.header_right_nav_item a:hover {
  color: #c9252c;
  opacity: 1;
}

.header_right_nav_item_usa {
  margin-right: 4px;
  width: 28px;
}

.header_right_nav_item_sub {
  display: none;
  left: -20px;
  position: absolute;
  top: 100%;
}

.header_right_nav_item_sub_item {
  height: 50px;
  width: 300px;
  line-height: 1.33;
}

.header_right_nav_item_sub_item + .header_right_nav_item_sub_item {
  margin-top: 1px;
}

.header_right_nav_item_sub_item a {
  background-color: #0f0f0e;
  color: #fff;
  font-size: 1.4rem;
  font-weight: normal;
  height: 100%;
  padding: 18px 20px;
  text-align: left;
  width: 100%;
}

.header .c_menu {
  display: none;
}

.header .header_sp {
  display: none;
}

@media screen and (max-width: 1240px) {
  .header_right_nav_item + .header_right_nav_item {
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: 75px;
    padding: 0 20px 0 15px;
  }

  .header .container {
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }

  .header_right {
    display: none;
  }

  .header_logo {
    left: 20px;
    position: static;
    top: 50%;
    transform: none;
    width: 261px;
  }

  .header .c_menu {
    cursor: pointer;
    display: block;
    height: 17px;
    position: relative;
    transition: 300ms;
    width: 30px;
    z-index: 3;
  }

  .header .c_menu.is-open .c_menu_inner {
    background: rgba(255, 255, 255, 0);
  }

  .header .c_menu.is-open .c_menu_inner::before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(.23, 1, .32, 1);
    transition: bottom 300ms cubic-bezier(.23, 1, .32, 1),
    transform 300ms 300ms cubic-bezier(.23, 1, .32, 1);
    transition: bottom 300ms cubic-bezier(.23, 1, .32, 1),
    transform 300ms 300ms cubic-bezier(.23, 1, .32, 1);
    width: 30px;
  }

  .header .c_menu.is-open .c_menu_inner::after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(.23, 1, .32, 1);
    transition: top 300ms cubic-bezier(.23, 1, .32, 1),
    transform 300ms 300ms cubic-bezier(.23, 1, .32, 1);
    transition: top 300ms cubic-bezier(.23, 1, .32, 1),
    transform 300ms 300ms cubic-bezier(.23, 1, .32, 1);
    width: 30px;
  }

  .header .c_menu_inner {
    background-color: #fff;
    border-radius: 100px;
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    top: 7px;
    transform: translateX(-50%);
    transition: all 0ms 300ms;
    transition: 300ms;
    width: 30px;
  }

  .header .c_menu_inner::before {
    background-color: #fff;
    border-radius: 100px;
    bottom: 7px;
    content: '';
    height: 2px;
    position: absolute;
    right: 0;
    transition: bottom 300ms 300ms cubic-bezier(.23, 1, .32, 1);
    transition: bottom 300ms 300ms cubic-bezier(.23, 1, .32, 1),
    transform 300ms cubic-bezier(.23, 1, .32, 1);
    transition: bottom 300ms 300ms cubic-bezier(.23, 1, .32, 1),
    transform 300ms cubic-bezier(.23, 1, .32, 1);
    width: 30px;
  }

  .header .c_menu_inner:after {
    background-color: #fff;
    border-radius: 100px;
    content: '';
    height: 2px;
    position: absolute;
    right: 0;
    top: 7px;
    transition: top 300ms 300ms cubic-bezier(.23, 1, .32, 1);
    transition: top 300ms 300ms cubic-bezier(.23, 1, .32, 1),
    transform 300ms cubic-bezier(.23, 1, .32, 1);
    transition: top 300ms 300ms cubic-bezier(.23, 1, .32, 1),
    transform 300ms cubic-bezier(.23, 1, .32, 1);
    width: 30px;
  }

  .header .header_sp {
    display: none;
    height: calc(100vh - 80px);
    left: 50%;
    overflow-y: scroll;
    position: fixed;
    top: 75px;
    transform: translateX(-50%);
    width: calc(100vw - 30px);
  }

  .header_sp_lists_item {
    background-color: #0f0f0e;
    position: relative;
  }

  .header_sp_lists_item + .header_sp_lists_item {
    border-top: 1px #fff solid;
  }

  .header_sp_lists_item.has_child::before {
    background-image: url(../img/common/header_sp_lists_item_plus.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: 20px;
    position: absolute;
    right: 20px;
    top: 18px;
    width: 20px;
  }

  .header_sp_lists_item.has_child.open::before {
    background-image: url(../img/common/header_sp_lists_item_minus.png);
  }

  .header_sp_lists_item a {
    color: #fff;
    display: table;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.3;
    padding: 18px 40px 18px 20px;
    text-align: left;
  }

  .header_sp_lists_item.usa a {
    align-items: center;
    display: flex;
    width: 130px;
  }

  .header_sp_lists_item.usa .header_sp_lists_item_sub_item a {
    width: 100%;
  }

  .header_sp_lists_item_sub {
    display: none;
  }

  .header_sp_lists_item_sub_item {
    border-bottom: 1px #fff solid;
  }

  .header_sp_lists_item_sub_item:first-child {
    border-top: 1px #fff solid;
  }

  .header_sp_lists_item_sub_item a {
    background-color: #fff;
    border-left: 5px #c9252c solid;
    color: #222;
    display: block;
    font-size: 1.4rem;
    padding: 18px 20px;
    text-align: left;
  }
}

/* ------------------------------------------
  footer
------------------------------------------ */
.footer {
  background-color: #0f0f0e;
  padding: 50px 0 20px;
}

.footer_flex {
  display: flex;
}

.footer_flex_item {
  flex-shrink: 0;
  margin-left: 35px;
  width: calc(33.3333333% - 24px);
}

.footer_flex_item:first-child {
  margin-left: 0;
}

.footer_flex_item_logo {
  display: block;
  width: 266px;
}

.footer_flex_item_logo img {
  width: 100%;
}

.footer_flex_item_text {
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2;
  margin-top: 30px;
  text-align: left;
}

.footer_flex_item_text + .footer_flex_item_text {
  margin-top: 20px;
}

.footer_flex_item_contact {
  background-color: #c9252c;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 50px;
  margin-top: 30px;
  text-align: center;
}

.footer_flex_item_contact + .footer_flex_item_contact {
  margin-top: 12px;
}

.footer_flex_item_contact.oem {
  background-color: #25aae1;
}

.footer_flex_item_contact.business {
  background-color: #426ab3;
  font-size: 1.2rem;
  font-weight: bold;
}

.footer_flex_item_banner {
  display: block;
  margin-top: 12px;
}

.footer_flex_item_banner img {
  width: 100%;
}

.footer_flex_item_nav + .footer_flex_item_nav {
  margin-top: 30px;
}

.footer_flex_item_nav_title {
  border-bottom: 1px #fff solid;
  color: #fff;
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 10px;
  text-align: left;
}

.footer_flex_item_nav_lists_item {
  margin-top: 10px;
}

.footer_flex_item_nav_lists_item a {
  color: #fff;
  display: table;
  font-size: 1.4rem;
  padding-left: 14px;
  position: relative;
  text-align: left;
}

.footer_flex_item_nav_lists_item a::before {
  content: 'ãƒ»';
  left: 0;
  position: absolute;
  top: 0;
}

.footer_flex_item_nav_lists_item a.link {
  background-image: url(../img/top/top_oem_main_item_link_icon.png);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 12px;
  padding-right: 17px;
}

.footer_bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
}

.footer_bottom_copy {
  color: #fff;
  font-size: 1.4rem;
  font-weight: normal;
  text-align: left;
}

.footer_bottom_sns {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer_bottom_sns_item + .footer_bottom_sns_item {
  margin-left: 27px;
}

.footer_bottom_sns_item a {
  display: block;
  height: 25px;
}

.footer_bottom_sns_item a img {
  height: 100%;
}

.footer_last {
  border-top: 1px #fff solid;
  margin-top: 15px;
  padding-top: 15px;
}

.footer_last_text {
  align-items: 1.357142857142857;
  color: #fff;
  font-size: 1.4rem;
  font-weight: normal;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 40px 0 50px;
  }

  .footer_flex {
    display: block;
  }

  .footer_flex_item {
    margin-left: 0;
    width: 100%;
  }

  .footer_flex_item_contact {
    line-height: 60px;
    margin: 30px auto 0;
    max-width: 310px;
  }

  .footer_flex_item_contact + .footer_flex_item_contact {
    margin-top: 20px;
  }

  .footer_flex_item_banner {
    margin: 20px auto 0;
    max-width: 310px;
  }

  .footer_flex_item:nth-child(n + 2) {
    display: none;
  }

  .footer_bottom {
    flex-direction: column;
    justify-content: center;
    margin-top: 47px;
  }

  .footer_bottom_copy {
    font-size: 1.2rem;
    text-align: center;
  }

  .footer_bottom_sns {
    margin-top: 10px;
  }

  .footer_last {
    margin-top: 10px;
    padding-top: 10px;
  }

  .footer_last_text {
    font-size: 1.2rem;
  }
}

/* ------------------------------------------
  page_top
------------------------------------------ */
.page_top {
  background-image: url(../img/common/page_top.png);
  background-size: 100%;
  bottom: 50px;
  cursor: pointer;
  padding-top: 50px;
  position: fixed;
  right: 50px;
  width: 50px;
  z-index: 999;
}

@media screen and (max-width: 767px) {
  .page_top {
    bottom: 20px;
    padding-top: 35px;
    right: 20px;
    width: 35px;
  }
}

/* ------------------------------------------
  modal
------------------------------------------ */
.modal {
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99999999;
}

.modal_inner {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 0;
}

.modal_back {
  background-color: rgba(0,0,0,.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.modal_cancel {
  bottom: calc(100% + 30px);
  cursor: pointer;
  position: absolute;
  right: -76px;
  top: -76px;
  transition: .3s;
  width: 38px;
  z-index: 1;
}

.modal_cancel:hover {
  opacity: .7;
}

.modal_main {
  background-color: #0f0f0e;
  border: 20px #0f0f0e solid;
  position: relative;
  z-index: 1;
}

.modal_main_content {
  padding-top: 56.25%;
  position: relative;
  width: 700px;
}

.modal_main_content iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.modal_main_content video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .modal_cancel {
    bottom: calc(100% + 30px);
    right: -20px;
    top: -54px;
    width: 24px;
  }

  .modal_main {
    width: calc(100vw - 30px);
  }

  .modal_main_content {
    padding-top: 47.7vw;
    width: 100%;
  }
}

/* confirm_cover */
.confirm_cover {
  background: #fff;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999999;
}
.confirm_cover_content {
  height: auto;
  left: 25%;
  position: absolute;
  top: 25%;
  width: 50%;
}
.confirm_cover_content_logo {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  width: 327px;
}
.confirm_cover_content button {
  border: solid 1px;
  border-radius: 5px;
  font-size: 1.3rem;
  margin: 0 10px;
  padding: 5px 10px;
}
.confirm_cover_content button:hover {
  background-color: #efefef;
  cursor: pointer;
}
.confirm_cover_content_message {
  font-size: 1.3rem;
  margin: 1.6rem;
}
.confirm_cover_content_question h3 {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 1.6rem;
}

@media screen and (max-width: 767px) {
  /* confirm_cover_content */
  .confirm_cover_content {
    height: auto;
    left: 10%;
    position: absolute;
    top: 10%;
    width: 80%;
  }
  .form_submit input {
    display: block;
    width: 100%;
  }
}

/* pagination */
.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.pagination_item {
  font-size: 1.6rem;
  margin-right: 10px;
}

.pagination_item:last-child {
  margin-right: 0;
}

.pagination_item a, .pagination_item span {
  display: block;
  width: 100%;
}

.pagination_item span {
  border: 1px solid #000;
  height: 30px;
  width: 30px;
}

.pagination_item .current {
  background-color: #000;
  color: #fff;
}
