/* ------------------------------------------
  documents.html
------------------------------------------ */
.sub_main {
  padding: 0;
}

.sub_main_search_link_box {
  margin-top: 40px;
  text-align: center;
}

.sub_main_search_link {
  background-color: #4d4d4f;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 14px 43px;
}

.sub_main_search {
  padding-bottom: 80px;
}

.sub_main_top {
  margin: 40px auto 140px;
}

@media screen and (max-width: 767px) {
  .sub_main_search_link {
    font-size: 1.3rem;
  }

  .sub_main_search {
    margin-top: 0;
    padding: 30px 0 60px;
  }
}

/* ------------------------------------------
  documents_search_result.html
------------------------------------------ */
.documents_title {
  border-left: 10px solid #898989;
  font-size: 3rem;
  font-weight: bold;
  line-height: 61px;
  margin-top: 60px;
  padding-left: 20px;
  vertical-align: middle;
}

.search_word {
  font-size: 1.6rem;
  margin-top: 20px;
}

.documents_item_wrapper {
  margin-top: 40px;
}

.documents_item {
  margin-top: 20px;
}

.documents_item:first-child {
  margin-top: 0;
}

.documents_item_content {
  border: 1px solid #898989;
  padding: 20px 20px 16px;
}

.documents_item_content_title_wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.documents_item_content_title {
  font-size: 1.8rem;
  font-weight: bold;
}

.documents_item_content_title_label {
  background-color: #e6e7e8;
  display: block;
  font-size: 1.6rem;
  line-height: 1;
  padding: 6px 10px;
}

.documents_item_content_num {
  display: block;
  font-size: 1.6rem;
  margin-top: 20px;
}

.documents_item_content_link_wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.documents_item_content_link {
  background-color: #c9252c;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 14px;
  padding-top: 14px;
  text-align: center;
  width: calc((100% - 20px) / 2);
}

.documents_item_content_link.dl {
  margin-left: auto;
}

.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  text-align: center;
}

.pagination_item {
  font-size: 1.6rem;
  margin-right: 10px;
}

.pagination_item:last-child {
  margin-right: 0;
}

.pagination_item a, .pagination_item span {
  display: block;
  width: 100%;
}

.pagination_item span {
  border: 1px solid #000;
  height: 30px;
  width: 30px;
}

.pagination_item .current {
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .documents_title {
    border-left: 4px solid #898989;
    font-size: 1.8rem;
    line-height: inherit;
    margin-top: 40px;
    padding-left: 10px;
  }

  .search_word {
    font-size: 1.4rem;
    margin-top: 10px;
  }

  .documents_item_wrapper {
    margin-top: 20px;
  }

  .documents_item_content_title_wrapper {
    align-items: flex-start;
    flex-direction: column;
  }

  .documents_item_content_title {
    font-size: 1.6rem;
  }

  .documents_item_content_title_label {
    font-size: 1.4rem;
    padding: 3px 10px;
  }

  .documents_item_content_num {
    font-size: 1.4rem;
    margin-top: 10px;
  }

  .documents_item_content_link_wrapper {
    margin-top: 10px;
  }

  .documents_item_content_link {
    font-size: 1.4rem;
    padding-bottom: 7px;
    padding-top: 7px;
    width: calc((100% - 10px) / 2);
  }

  .documents_item_title {
    font-size: 1.4rem;
    margin-top: 5px;
  }

  .pagination {
    margin: 20px auto 60px;
  }

  .sub_main_search {
    padding: 30px 0 60px;
  }

  .sub_main_top {
    margin: 30px auto 60px;
  }
}
